@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    display: grid;
    background-color: PowderBlue;
    user-select: none;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header{
    display: flex;
    font-weight: 400;
    border-bottom: 3px solid black;
    margin-bottom: 5px;
}
.header div{
    margin: 0px 4px 2px;
}

.menu{
    display: block;
}

.main{
    /*display: flex; */
    display: none;
    width: 95vw;
    margin: 0;
    padding: 0;
    place-items: center; 
}

.holdForStats{
    width: 248px;
}
.stats{
    width: 224px;
    height: 90vh;
    /*display: block; */
    display: none;
    border: 5px solid black;
    border-radius: 10px;
    justify-items: left;
    padding: 2px;
    margin-right: 10px;
    overflow-x: visible;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black powderblue;
    z-index: 10;
}
/*.stats.fadeIn{
    -webkit-animation: fade-in 2s 1 linear;
    -moz-animation: fade-in 2s 1 linear;
    animation: fade-in 2s 1 linear;

    animation-fill-mode: forwards;
}
.stats.slideRight{
    -webkit-animation: slide-right 2s 1 linear;
    -moz-animation: slide-right 2s 1 linear;
    animation: slide-right 2s 1 linear;

    animation-fill-mode: forwards;
    z-index: 10;
}*/
.stats  div.pad{
    margin-bottom: 10px;
    margin-left: 10px;
}

.util-button {
    border-radius: 10px;
}

.util-button.del{
    margin-left: 18px;
    margin-top: 8px;
    border-radius: 0px;
    background-color: rgb(226, 193, 193);
    color: darkred;
}

.stats-Container{
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.statBatCap{
    margin: 6px 0px 16px 0px;
    font-size:.8em;
}

.battery {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-auto-rows: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 4px;
    margin-left: 4px;
}
.battery.Beta {background-color: #f6ccaa;}
.battery.Alpha {background-color: #e7d98b;}
.battery.Theta {background-color: #c5db85;}
.batCapIndicatorLight {
    height: 32px;
    width: auto;
    border: 1px solid black;
    border-radius: 16px;
    padding: 0px;
    margin: 3px 2px;
    background-color: #f6ccaa;
}
.batCapIndicatorLight.Beta.active {background-color: #f7770a;}
.batCapIndicatorLight.Alpha.active {background-color: #dcbd00;}
.batCapIndicatorLight.Theta.active {background-color: #92bc1e;}

.statsIcons{
    height: 1em;
    width: 1em;
}
.statsIconsSm{
    height: .8em;
    width: .8em;
}
.homestead{
    width: 294px;
    height: 90vh;
    display: block;
    border: 5px solid black;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    padding: 2px;
    margin-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black powderblue;
}
.right{
    height: 90vh;
    display: flex;
    flex-grow: 1;
    border: 5px solid black;
    border-radius: 10px;
    justify-items: center;
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black #78b933;
    background-image: url("./assets/CityBackground.png")
}

.laborBin{
    width: 256px;
    display: grid;
    grid-template-columns: 184px 72px;
    border: 3px solid black;
    border-radius: 10px;
    justify-items: center;
    margin: 5px 0px 5px 0px;
    padding: 4px 4px 0px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.laborBinLvl2{
    display: grid;
    grid-template-columns: 58px 14px;
    align-items: center;
        text-align: center;

}
.crank {
    height: 48px;
    width: 48px;
    transform: rotate(0deg);}
.crankRot {
    transform: rotate(360deg);
    transition: .25s linear;
}
.crankIndicator {
    display: grid;
    height: 36px;
    width: 6px;
    border: 2px solid black;
    padding: 0px;
}
.crankIndicatorLight {
    height: 4px;
    width: 4px;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    background-color: lightgrey;
}
.crankIndicatorLight.active {
    background-color: red;
}
.mindCircle {
    height: 48px;
    width: 48px;
    background-color: #dcbd00;
    border: 2px solid black;
    border-radius: 24px;
    align-content: center;
}
.drainBar {
    height: 0%;
    min-width: 10px;
    background-color: #f7770a;
}


.treeIcon{
    width: 256px;
    height: auto;
}
.treeButtonContainer{
    /*display: block */
    display: none;
    position: relative;
}
.treeButtonContainer.slideRight{
    -webkit-animation: slide-right 2s 1 linear;
    -moz-animation: slide-right 2s 1 linear;
    animation: slide-right 2s 1 linear;

    animation-fill-mode: forwards;
}
.treeButton{
    width: 256px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    justify-items: center;
    margin: 0px 5px 0px 5px;
    padding: 4px;
    text-align: center;
    z-index: 1;
}
.treeButton h5{
    margin-bottom: 0px;
    padding: 4px;
    border: 5px outset grey;
}
.treeButton h5:hover{
    filter:brightness(120%);
    cursor: pointer;
}
.treeButton h5:active{
    scale: .97;
    border: 5px inset grey;
}
.treeTip {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: max-content;
    background-color: blanchedalmond;
}
.treeTip div {
    padding: 0px 4px;
}
.nextSeshWaste {
    border-left: 1px solid #aa0000;
    color: #aa0000;
    font-weight: 400;
}

.treeUpgradeBin{
    display: block;
    justify-items: center;
    padding: 2px;
}
.treeUpgrades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}
.treeUpgrades h5{
    margin-top: 0px;
    margin-bottom: 0px;
}
.batUpgradeBin{
    display: block;
    justify-items: center;
    padding: 2px;
}
.batteryUpgrades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}
.batteryUpgrades h5{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mintUpgradeBin{
    display: block;
    justify-items: center;
    padding: 2px;
}
.mintUpgrades{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}
.mintUpgrades h5{
    margin-top: 0px;
    margin-bottom: 0px;
}

.leafIcons{
    width: 48px;
    height: 48px;
}
.leafIcons:disabled{
    background-color: #f5f5f5;
    color: #a5a5a5;
}
.leaf{
    border: 5px outset grey;
    justify-items: center;
    margin: 0px 3px 0px 3px;
    padding: 4px;

    position: relative;
    text-align: center;
}
.leaf:hover{
    filter:brightness(120%);
    cursor: pointer;
}
.leaf:active{
    scale: .97;
    border: 5px inset grey;
}

.willowLeaf{
    position:absolute;
    width: auto;
    height: auto;
    opacity: .8;
    transform-origin: 0% top;
    transform: translate(-40%, -100%);
    scale:.3;
}

.buildings{
    width: 310px;
    /*display: grid;*/
    display: none;
    grid-auto-rows: min-content;
    border: 3px solid black;
    background-color: blanchedalmond;
    border-radius: 10px;
    justify-items: center;
    margin: 0px 10px 0px 10px;
    padding: 4px;
    text-align: center;
    overflow-x: visible;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black blanchedalmond;
}
.buildings.slideRight{
    -webkit-animation: slide-right 2s 1 linear;
    -moz-animation: slide-right 2s 1 linear;
    animation: slide-right 2s 1 linear;

    animation-fill-mode: forwards;
}
.buildings h3{
    margin: 10px 0px 0px 0px;
}
.buildings p{
    margin: 0px;
}

.batCap {
    border: 5px outset grey;
    justify-items: center;
    margin: 0px 3px 0px 3px;
    padding: 4px;

    position: relative;
    text-align: center;
}
.batCap:hover{
    filter:brightness(120%);
    cursor: pointer;
}
.batCap:active{
    scale: .97;
    border: 5px inset grey;
}

.mintUp {
    border: 5px outset grey;
    justify-items: center;
    margin: 0px 3px 0px 3px;
    padding: 4px;

    position: relative;
    text-align: center;
}
.mintUp:hover{
    filter:brightness(120%);
    cursor: pointer;
}
.mintUp:active{
    scale: .97;
    border: 5px inset grey;
}

.batTick{
    display: block;
    width: 5px;
    height: 20px;
    margin: 0px 2px 0px 2px;
    border: 2px solid black;
}
.batIcons{
    height: 24px;
    width: 45px;
    margin-right: 5px;
}

.mintIcons{
    width: 48px;
    height: auto;
}
.mintAction{
    width: 140px;
    display: flex;
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
}
.mintNums{
    width: 3em;
}

.coinsIcons{
    width: 34px;
    height: 34px;
}

/* The switch - the box around the mint slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The mint slider */
.mint {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid grey;
    border-radius: 16px;
}
.mint.Beta {
    background-color: #f6ccaa;
}
.mint.Alpha {
    background-color: #e7d98b;
}
.mint.Theta {
    background-color: #c5db85;
}
.mint:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}
input:checked + .mint.Beta {
    background-color: #f7770a;
}
input:checked + .mint.Alpha {
    background-color: #dcbd00;
}
input:checked + .mint.Theta {
    background-color: #92bc1e;
}
input:focus + .mint {
    box-shadow: 0 0 1px #000000;
}
input:checked + .mint:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.ConvArrow {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    border-right: 2px solid black;
    border-top: 2px solid black;
    margin: 12px -4px 12px -4px;
  
    width: 16px;
    height: 16px;

    -webkit-animation: Conv-Arrow 1s infinite;
    -moz-animation: Conv-Arrow 1s infinite;
    animation: Conv-Arrow 1s infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes Conv-Arrow {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.seshUndefinedShort {
    animation: undText 3s;
}
.seshUndefinedLong {
    animation: undText 5s;
}

@keyframes undText {
    0% {opacity: 0;}
    05% {opacity: 1;}
    10% {opacity: .9;}
    20% {opacity: .8;}
    30% {opacity: .7;}
    40% {opacity: .6;}
    50% {opacity: .5;}
    60% {opacity: .4;}
    70% {opacity: .3;}
    80% {opacity: .2;}
    90% {opacity: .1;}
    100% {opacity: .0;}
}


.ContainerSmFlex{
    display: flex;
    align-items: center;
    border: 1px solid black
}
.containerSmGrid{
    display: grid;
    justify-items: center;
}


.testbinflex{
    display: flex;
    border: 5px ridge ;
    padding: 5px;
    align-items: center;
}
.testbingrid{
    display: grid;
    border: 5px ridge ;
    padding: 5px;
    justify-items: center;
}


.theGrid {
    /*display: grid;*/
    display: none;
    grid-template-columns: repeat(2, 160px);
    grid-auto-rows: 40px;
    justify-items: center;
}
.theGrid.fadeIn{
    -webkit-animation: fade-in 2s 1 linear;
    -moz-animation: fade-in 2s 1 linear;
    animation: fade-in 2s 1 linear;

    animation-fill-mode: forwards;
}
.theGrid div {
    &:nth-child(4n+1){
        margin-left: 30%;
        margin-right: -50%;
    }
    &:nth-child(4n+2){
        margin-left: 30%;
        margin-right: -50%;
    }
    &:nth-child(4n+3){
        margin-left: -20%;
        margin-right: 0%;
    }
    &:nth-child(4n+4){
        margin-left: -20%;
        margin-right: 0%;
    }
}

.buildHov:hover {
    filter:grayscale(60%);
    filter:brightness(120%);
}
.tooltipHover:hover .buildTooltip {
    display: block;
}
.tooltipHover:hover .tooltip {
    display: block;
}
.buildTooltip {
    display: none;
    width: max-content;
    margin: 10px 8px 8px 8px;
    /*top: 8px;
    left: 8px;*/
    border: 25px solid transparent;
    border-radius: 4px;
    background-color: blanchedalmond;
    border-image:
        url("./assets/nouveauBorderSm.png") 25 / 1 / .15 round;
    position: absolute;
    z-index: 900;
}

.upgradeTooltip {
    display: none;
    font-weight: 400;
    border: 25px solid transparent;
    border-radius: 4px;
    background-color: blanchedalmond;
    border-image:
        url("./assets/nouveauBorderSm.png") 25 / 1 / .15 round;
    margin-top: 16px;
    position: absolute;
    z-index: 900;
}
.upgradeHov:hover .upgradeTooltip {
    display: block;
}

.tooltip {
    display: none;
    width: max-content;
    font-weight: 400;
    border: 25px solid transparent;
    border-radius: 4px;
    background-color: blanchedalmond;
    border-image:
        url("./assets/nouveauBorderSm.png") 25 / 1 / .15 round;
    margin-top: 16px;
    position: absolute;
    z-index: 900;
}
.infoHov:hover .tooltip {
    display: block;
    width: 300px;
}

.positive-value{
    color:darkgreen;
    font-weight:500;
}
.negative-value{
    color:darkred;
    font-weight:500;
}

.particle {
    position: absolute;
    z-index: 10;
}


.console{
    margin: 50px 8px 0px 8px;
    color:darkred; font-weight: bolder;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  50%  { opacity: .6; }
  100% { opacity: 1; }
}
@keyframes slide-right {
  0%   { translate: -50%; opacity: .3 }
  50%  { translate: -15%; opacity: .9}
  100% { translate: .5%; opacity: 1; z-index: 1}
}
@keyframes slide-down {
  0%   { translate: 0 -50%; opacity: .3 }
  50%  { translate: 0 -15%; opacity: .9}
  100% { translate: 0%; opacity: 1}
}